registry:
  image: registry:2.4.0
  container_name: registry
  volumes:
   - /docker-registry/registry:/var/lib/registry/docker/registry
   - /docker-registry/conf:/conf
  ports:
    - "5000:5000"
  restart: unless-stopped

registry-mirror:
  image: registry:2.4.0
  container_name: registry-mirror
  environment:
  - "STANDALONE=false"
  - "MIRROR_SOURCE=https://registry-1.docker.io"
  - "MIRROR_SOURCE_INDEX=https://index.docker.io"
  volumes:
   - /docker-registry-mirror/registry:/var/lib/registry/docker/registry
   - /docker-registry-mirror/conf:/conf
  ports:
    - "5001:5000"
  restart: unless-stopped
