allocator:
  image: opencord/cord-ip-allocator:latest
  container_name: allocator
  labels:
    - "lab.solution=CORD"
    - "lab.component=allocator"
  environment:
    # need to explicitly set the resolver, else go will skip the /etc/hosts file
    - "GODEBUG=netdns=go"
    - "ALLOCATE_PORT=4242"
    - "ALLOCATE_LISTEN=0.0.0.0"
    - "ALLOCATE_NETWORK={{ networks.fabric }}"
    - "ALLOCATE_SKIP=2"

provisioner:
  image: opencord/cord-provisioner:latest
  container_name: provisioner
  labels:
    - "lab.solution=CORD"
    - "lab.component=provisioner"
  links:
    - allocator
  environment:
    # need to explicitly set the resolver, else go will skip the /etc/hosts file
    - "GODEBUG=netdns=go"
    - "INTERFACE_CONFIG={{ interface_config }}"
    - "PROVISION_PORT=4243"
    - "PROVISION_LISTEN=0.0.0.0"
    - "PROVISION_DEFAULT_ROLE=compute-node"
    - "PROVISION_SCRIPT=/etc/maas/ansible/do-ansible"
  volumes:
    - "/etc/maas/ansible:/etc/maas/ansible"

automation:
  image: opencord/cord-maas-automation:latest
  container_name: automation
  labels:
    - "lab.solution=CORD"
    - "lab.component=automation"
  links:
    - provisioner
  environment:
    # need to explicitly set the resolver, else go will skip the /etc/hosts file
    - "GODEBUG=netdns=go"
    - "AUTOMATION_PROVISION_URL=http://provisioner:4243/provision/"
    - "AUTOMATION_PROVISION_TTL=30m"
    - "AUTOMATION_POWER_HELPER_SCRIPT=/etc/maas/virtualbox/power_discovery"
    - "AUTOMATION_POWER_HELPER_USER={{ virtualbox.power_helper_user }}"
    - "AUTOMATION_POWER_HELPER_HOST={{ virtualbox_host }}"
  volumes:
    - "/etc/maas:/mappings"
    - "/etc/maas/virtualbox:/etc/maas/virtualbox"
  command: [ "-apiVersion", "1.0", "-apikey", "{{ apikey.stdout }}", "-maas", "http://{{ mgmt_ip_address.stdout }}/MAAS", "-period", "30s", "-mappings", "@/mappings/mappings.json", "-always-rename" ]
