cordloghost IN A {{ cord_loghost }}

mongodb                 CNAME mongodb-1
nagios                  CNAME nagios-1
openstack-dashboard     CNAME openstack-dashboard-1
juju                    CNAME juju-1
neutron-api             CNAME neutron-api-1
rabbitmq-server         CNAME rabbitmq-server-1
ceilometer              CNAME ceilometer-1
nova-cloud-controller   CNAME nova-cloud-controller-1
glance                  CNAME glance-1
keystone                CNAME keystone-1
percona-cluster         CNAME percona-cluster-1
