version: '2'

services:
  harvester:
      image: "docker-registry:5000/cord-dhcp-harvester:{{ docker.image_version }}"
      container_name: harvester
      restart: always
      labels:
          - "lab.solution=cord"
          - "lab.component=harvester"
      volumes:
          - "/var/lib/maas/dhcp:/harvester"
          - "/etc/bind/maas:/bind"
          - "/etc/bind/maas:/key"
          - "/etc/dhcp:/etc/dhcp"
      environment:
          - "HARVESTER_LOG_LEVEL=debug"
          - "HARVESTER_PORT=8954"
          - "HARVESTER_OUTPUT_FILE=/bind/dhcp_harvest.inc"
          - "HARVESTER_VERIFY_LEASES=true"
          - "HARVESTER_VERIFY_TIME_OUT=2s"
          - "HARVESTER_QUERY_PERIOD=2m"
          - "HARVESTER_QUIET_PERIOD=2s"
          - "HARVESTER_RNDC_ADDRESS={{ mgmt_ip_address.stdout }}"
          - "HARVESTER_RNDC_PORT=954"
          - "HARVESTER_RNDC_KEY_FILE=/key/rndc.conf.maas"
          - "HARVESTER_RNDC_ZONE=cord.lab"
          - "HARVESTER_RNDC_UPDATE=true"
      ports:
          - "8954:8954"
      restart: unless-stopped
